<div class="jumbotron">
    <h1>YourFood</h1>
    <p class="lead">Your Food Management Application</p>
    <p><a href="http://yourfood.herokuapp.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
